/*
!/.gitignore
!/*.sh
!MATLAB_data_visualizations
!hardware
!software
hardware/top/*
!hardware/top/system*/
hardware/top/system*/*
!hardware/top/system*/project
hardware/top/system*/project/*
!hardware/top/system*/project/*.qpf
!hardware/top/system*/project/*.qsf
!hardware/top/system*/include/
!hardware/top/system*/project/output_files/
hardware/top/system*/project/output_files/*
!hardware/top/system*/project/output_files/*.sof
!hardware/top/system*/src/
hardware/test/*
!hardware/test/*/
hardware/test/*/*
!hardware/test/*/project
hardware/test/*/project/*
!hardware/test/*/project/*.qpf
!hardware/test/*/project/*.qsf
!hardware/test/*/src/
/**/*.xml
/**/*.pdf
/**/*.bak
/**/*_sim
/**/*.sip
/**/*.bsf
/**/*sim.f
/**/*.png
/**/*.jpg
/**/*tar.*
/hardware/**/*.txt
MATLAB_data_visualizations/export_fig/
MATLAB_data_visualizations/**/*.txt
software/python/generate_lease_source_file/output/*
!software/CLAM/*
software/CLAM/target
!software/CLAM/leases
software/CLAM/leases/*
!software/CLAM/leases/*llt_entries
software/CLAM/leases/*llt_entries/*
!software/CLAM/leases/*llt_entries/*blocks*
software/CLAM/leases/*llt_entries/*blocks*/*
!software/CLAM/leases/*llt_entries/*blocks*/*ways*
software/CLAM/leases/*llt_entries/*blocks*/*ways*/*
!software/CLAM/leases/*llt_entries/*blocks*/*ways*/*
software/CLAM/leases/*llt_entries/*blocks*/*ways*/*/*
!software/CLAM/leases/*llt_entries/*blocks*/*ways*/*/*.c
software/**/*.csv
software/**/*.pss
software/**/*.txt
software/**/*.o
software/**/*.elf
software/benchmarks/**/**/lease*
